.input {
    outline: none;
    width: 26em;
    height: 2em;
    border: none;
    background-color: rgba(153, 153, 153, 0.219);
    padding-left: 1em;
    border-radius: 0.5em;
    font-size: 1em;
}

@media (width < 850px) {
    .input {
      width: 16em;
    }
    form {
        display: flex;
    }
}

@media (width < 650px) {
    .input {
      width: 10em;
    }
}