.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dogs__container {
    width: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .dogs__img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    object-position: top right;
    margin: auto 0;
  }
  