.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

button {
  background-color: rgb(87, 191, 252);
  height: 2.1em;
  width: 5em;
  border: none;
  border-radius: 0.5em;
  position: relative;
  right: 12px;
  font-size: 1em;
  cursor: pointer;
  transition: all ease 0.3s;
}

button:hover {
  background-color: hsl(202, 96%, 61%);
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  margin-left: 3em;
}

@media (width < 850px) {
  .title__container {
    width: 20em;
    gap: 3em;
  }
}

@media (width < 650px) {
  .title__container {
    gap: 1em;
  }
}